mixin card(item, index)
  .column-desktop-1-3.column-laptop-1-3.column-tablet-1-3.column-phablet-1-2.column-mobile-1-2.m-b-30
    a(href="#").card
      .card__img
        img(src="img/"+item.img alt="card img")
      .card__title
        |#{item.title}
          

mixin news(item)
  .news
    -var dateArr = item.date.split(".")
    a(href="#")
      .news__date
        |#{dateArr[0]}.#{dateArr[1]}.
        span #{dateArr[2]}
      .news__text
        |#{item.text}

mixin sideMenu(item)
  li.first-item
    .list-item
      a(href="#") #{item.name}
      .sub-menu-opener
        .sub-menu-opener__rotator
    ul
      each elem in item.sublist
        li 
          a(href="#") #{elem}
        
mixin product(item)
  .column-desktop-1-4.column-phablet-1-2.column-tablet-1-3.column-laptop-1-3.column-mobileonly-1-1(href="#")
    .product
      a.product__img(href="#")
        img(src="img/"+item.img alt="product img")
      a.product__title(href="#")
        |#{item.title}
